/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
}

button,
input {
  outline: none;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 1370px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
:root {
  --text-color: #222222;
  --white: #fff;
  --primary-color: #f05127;
  --color-place: #888;
  --dark-color: #000;
  --old-price: #888888;
  --filter-icon: brightness(0) saturate(100%) invert(45%) sepia(56%) saturate(4720%) hue-rotate(347deg) brightness(97%) contrast(94%);
  --filter-icon-bar: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(102%) contrast(100%);
  --filter-submit-header: brightness(0) saturate(100%) invert(62%) sepia(3%) saturate(8%) hue-rotate(327deg) brightness(93%) contrast(77%);
  --filter-phone-icon: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(102%)
      contrast(100%);
  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(20%) saturate(0%) hue-rotate(256deg) brightness(114%) contrast(100%);
  --boxshadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --bg-footer: #f9f0df;
}

@media (max-width: 575.98px) {
  .logo__img {
    max-width: 100px;
  }
}

.arrow-down {
  width: 12px;
  color: inherit;
  margin-left: 4px;
}

.submenu {
  position: absolute;
  background: var(--white);
  box-shadow: var(--boxshadow);
  left: 0;
  top: 54px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  display: none;
  height: calc(100vh - 40px);
  z-index: 1;
}
@media (max-width: 991.98px) {
  .submenu {
    top: 0;
    width: 100%;
  }
}
.submenu__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 991.98px) {
  .submenu__row {
    display: block;
  }
}
@media (max-width: 991.98px) {
  .submenu__col {
    margin-top: 12px;
  }
}
.submenu__title {
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
}
.submenu__list {
  margin-top: 20px;
}
@media (max-width: 991.98px) {
  .submenu__list {
    margin-top: 8px;
  }
}
.submenu__link {
  display: inline-block;
  font-size: 1.5rem;
  padding: 10px 6px;
  cursor: pointer;
}
.submenu__link:hover {
  color: var(--primary-color);
}
@media (max-width: 991.98px) {
  .submenu__link {
    padding-left: 0;
  }
}
.submenu__img {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
.submenu__img-item {
  width: 290px;
  object-fit: cover;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  min-width: 180px;
  padding: 12px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.7rem;
}
.btn--primary {
  background: var(--primary-color);
  color: var(--white);
}
.btn--normal {
  background: var(--white);
  border: 1px solid #ccc;
}

.sidebar-menu__link, .sidebar-menu__item {
  display: flex;
  align-items: center;
}

.sidebar {
  width: 27%;
  padding: 0 15px;
}
@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .sidebar-menu__list {
    display: none;
  }
}
.sidebar-menu__item {
  position: relative;
  gap: 10px;
  margin-bottom: 12px;
  cursor: pointer;
}
.sidebar-menu__item:hover {
  color: var(--primary-color);
}
.sidebar-menu__item::after {
  content: url(/assets/icon/arrow-right.svg);
  position: absolute;
  right: 0;
  filter: #ccc;
}
.sidebar-menu__item:hover .sidebar-submenu {
  display: block;
}
.sidebar-menu__icon {
  width: 20px;
}

.sidebar-product__content {
  border: 1px solid red;
  padding: 16px;
}

.sidebar-serivce {
  margin-top: 20px;
}
.sidebar-serivce__row {
  display: flex;
  gap: 10px;
}
.sidebar-serivce__item {
  border: 1px solid #d8d7d7;
  padding: 20px 0;
}
.sidebar-serivce__title {
  font-weight: 500;
}
.sidebar-serivce__subtitle {
  margin-top: 8px;
  font-size: 1.4rem;
}
.sidebar-serivce__icon {
  width: 25px;
  height: 25px;
}

.sidebar-submenu {
  padding: 5px;
  position: absolute;
  z-index: 100;
  right: -242px;
  top: 0;
  background: var(--white);
  box-shadow: var(--boxshadow);
  display: none;
  color: var(--text-color);
}
.sidebar-submenu__link {
  display: inline-block;
  width: 100%;
  padding: 8px 4px;
  font-size: 1.5rem;
}
.sidebar-submenu__link:hover {
  color: var(--primary-color);
}

.sidebar-rate {
  margin-top: 20px;
  background-image: url("/assets/img/rate-sidebar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 25px 0 25px;
  padding: 30px 40px;
  height: 300px;
}

.home-page {
  margin-top: 20px;
  display: flex;
}

.main-content {
  flex: 1;
}
@media (max-width: 991.98px) {
  .main-content {
    width: 100%;
  }
}

.home-banner {
  margin-top: 50px;
}
.home-banner__group {
  position: relative;
}
.home-banner__img {
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.home-banner__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.home-banner__lable {
  font-weight: 500;
  text-transform: uppercase;
}
.home-banner__title {
  margin-top: 8px;
  font-size: 1.8rem;
  line-height: 120%;
}
.home-banner__title strong {
  font-weight: 600;
  font-size: 2rem;
}
.home-banner__link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: underline;
}

.home-filter {
  margin: 30px 0;
}
.home-filter__list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.home-filter__item {
  border: 1px solid #cfcece;
  padding: 8px;
  font-weight: 500;
  font-size: 1.5rem;
  transition: all 0.5s;
  cursor: pointer;
}
.home-filter__item.active {
  background: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);
}

.product-option__item, .product-card__lable {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  border: 1px solid #c1c0c0;
  padding: 10px;
}
.product-sidebar {
  margin-top: 20px;
}

.product-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
@media (max-width: 1199.98px) {
  .product-tab {
    margin-bottom: 20px;
    align-items: baseline;
  }
}
.product-tab__title {
  font-weight: 500;
  font-size: 1.7rem;
  position: relative;
}
.product-tab__title::before {
  content: url(/assets/img/deal-img.png);
}
.product-tab__switch {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .product-tab__switch {
    position: absolute;
    background: var(--white);
    z-index: 99;
    top: 30px;
    margin-top: 10px;
    box-shadow: var(--boxshadow);
    flex-direction: column;
    width: 200px;
    padding: 10px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  .product-tab__switch.active {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}
.product-tab__link {
  display: inline-block;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 1.5rem;
}
.product-tab__link--active {
  color: var(--primary-color);
}
.product-tab__link:hover {
  color: var(--primary-color);
}
@media (max-width: 991.98px) {
  .product-tab__link {
    margin-top: 12px;
  }
}
@media (max-width: 991.98px) {
  .product-tab__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.product-tab__icon {
  width: 30px;
}

.product-card {
  position: relative;
}
.product-card__img {
  width: 100%;
  transition: scale 0.5s;
}
.product-card__img:hover {
  scale: 1.1;
}
.product-card__row {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 575.98px) {
  .product-card__row {
    flex-direction: column;
  }
}
.product-card__row--center {
  justify-content: center;
}
.product-card__detail {
  margin-top: 20px;
}
.product-card__name {
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
}
.product-card__price-wrapper {
  margin-top: 8px;
}
.product-card__price {
  font-weight: 500;
  font-size: 1.5rem;
}
.product-card__price--old {
  text-decoration: line-through;
  color: var(--old-price);
}
.product-card__review {
  margin-top: 8px;
}
.product-card__lable {
  position: absolute;
  top: 14px;
  width: 60px;
  height: 20px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.product-card__lable--new {
  background: #5eac12;
}
.product-card__lable--discount {
  background: #dd433f;
}
.product-card:hover .product-option {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
}

.product-option {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.product-option__list {
  display: flex;
  gap: 13px;
}
.product-option__item {
  width: 40px;
  height: 40px;
  background: #eee;
  border-radius: 50%;
}
.product-option__item:hover, .product-option__item--active {
  background: var(--primary-color);
}
.product-option__item--active .product-option__icon {
  filter: var(--filter-white);
}
.product-option__icon {
  width: 35px;
  border-radius: 50%;
}
.product-option__icon:hover {
  filter: var(--filter-white);
}

.countdown {
  display: flex;
  justify-content: space-between;
}
.countdown .time-box {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__content {
  position: relative;
}
.slider__img {
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
}
.slider__img:hover ~ .slider__slick--next {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.slider__img:hover ~ .slider__slick--prve {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.slider__slick {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.slider__slick--prve {
  left: -40px;
}
.slider__slick--next {
  right: -40px;
}
.slider__slick--next, .slider__slick--prve {
  opacity: 0;
  visibility: hidden;
}
.slider__icon {
  width: 30px;
  height: 30px;
  filter: var(--filter-white);
}

.slider-desc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}
.slider-desc__lable {
  color: var(--primary-color);
  font-size: 1.9rem;
  font-weight: 500;
}
.slider-desc__title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 120%;
}
.slider-desc__subtitle {
  margin-top: 14px;
  font-size: 1.8rem;
}
.slider-desc__act {
  margin-top: 20px;
}
.slider-desc__btn {
  text-transform: uppercase;
  transition: all 0.6s;
}
.slider-desc__btn:hover {
  background: transparent;
  color: var(--text-color);
}

.slider-aside__content {
  position: relative;
}
.slider-aside__info {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
}
.slider-aside__lable {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.slider-aside__title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 120%;
}
.slider-aside__link {
  margin-top: 12px;
  display: inline-block;
  font-weight: 500;
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .cate-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.cate-item__img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .cate-item__img {
    width: 150px;
  }
}

.social__icon {
  width: 34px;
}

.navbar-tablist, .header-bottom__inner, .navbar__header, .header-center, .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top {
  padding: 10px 0;
}
.header-top__icon {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.header-top__text {
  font-size: 1.5rem;
  font-style: italic;
}

.header-options {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-options__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
}
.header-options__item .flag {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  object-fit: cover;
}
@media (max-width: 991.98px) {
  .header-options__item {
    padding: 20px;
    border-bottom: 1px solid #d7d7d7;
  }
}
@media (max-width: 991.98px) {
  .header-options__arrow {
    margin-left: auto;
  }
}
.header-options .more-currency {
  background: var(--white);
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  box-shadow: var(--boxshadow);
  position: absolute;
  top: 30px;
  display: none;
}
@media (max-width: 991.98px) {
  .header-options .more-currency {
    top: 41px;
    left: 0;
  }
}
.header-options .more-currency::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 30px;
  background: transparent;
  position: absolute;
  top: -27px;
  left: 0;
}
.header-options__item:hover .more-currency {
  display: block;
}
.header-options .more-country {
  display: flex;
  align-items: center;
  background: var(--white);
  width: 100px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  box-shadow: var(--boxshadow);
  position: absolute;
  top: 25px;
  left: 0;
  padding: 8px;
  display: none;
}
.header-options .more-country::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 30px;
  background: transparent;
  position: absolute;
  top: -27px;
  left: 0;
}
.header-options__item:hover .more-country {
  display: inline-flex;
}
.header-options__item:hover .header-authen {
  display: block;
}

.header-authen {
  position: absolute;
  background: var(--white);
  box-shadow: var(--boxshadow);
  width: 100%;
  top: 30px;
  display: none;
}
@media (max-width: 991.98px) {
  .header-authen {
    position: initial;
    box-shadow: none;
  }
}
.header-authen::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 30px;
  background: transparent;
  position: absolute;
  top: -27px;
  left: 0;
}
.header-authen__item {
  padding: 8px 12px;
  display: inline-block;
  width: 100%;
}
.header-authen__link {
  display: inline-block;
  width: 100%;
}
.header-authen__link:hover {
  color: var(--primary-color);
  font-weight: bold;
}
@media (max-width: 991.98px) {
  .header-authen__link {
    padding: 8px 0;
    font-size: 1.7rem;
    border-bottom: 1px solid #d6d6d6;
  }
}

.speparate {
  border: 1px solid #e9e7e7;
}

.header-center {
  padding: 10px 0;
}

.navbar__header {
  background: var(--dark-color);
  height: 50px;
  padding: 14px;
}
.navbar__title {
  color: var(--white);
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}
.navbar__close {
  width: 40px;
  filter: var(--filter-white);
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .navbar {
    position: fixed;
    background: var(--white);
    box-shadow: var(--boxshadow);
    z-index: 99;
    left: 0;
    bottom: 0;
    top: 0;
    right: 65%;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(-101%);
    transition: transform 0.5s;
  }
  .navbar.show {
    transform: translateX(0%);
  }
  .navbar.show ~ .navbar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .navbar {
    right: 38%;
  }
}
@media (max-width: 991.98px) {
  .navbar__overlay {
    position: fixed;
    z-index: 1;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
  }
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
  }
}
.navbar__item {
  position: relative;
}
.navbar__item:hover .submenu {
  display: block;
}
@media (max-width: 991.98px) {
  .navbar__item {
    width: 100%;
    padding: 18px;
    border-bottom: 1px solid #8c8b8b;
  }
}
.navbar__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  top: 15px;
  background: transparent;
}
@media (max-width: 991.98px) {
  .navbar__item::before {
    content: none;
  }
}
.navbar__link {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.navbar__link:hover {
  color: var(--primary-color);
  font-weight: 500;
}
.navbar__link--active {
  color: var(--primary-color);
  filter: var(--filter-icon);
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .navbar__arrow {
    margin-left: auto;
  }
}

.cat-lable::before {
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--white);
  padding: 4px 12px;
  font-weight: 500;
  clip-path: polygon(5% 3%, 94% 9%, 95% 99%, 3% 118%);
  border-radius: 4px;
  left: 50%;
  top: -22px;
  transform: translateX(-50%);
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .cat-lable::before {
    top: -35px;
  }
}
@media (max-width: 767.98px) {
  .cat-lable::before {
    left: 60%;
  }
}
.cat-lable--new::before {
  content: "new";
  background: #5eac12;
  position: absolute;
}
.cat-lable--hot::before {
  background: var(--primary-color);
  content: "hot";
  position: absolute;
}

.header-cart {
  display: flex;
  align-items: center;
  gap: 26px;
}
@media (max-width: 767.98px) {
  .header-cart {
    gap: 6px;
  }
}
.header-cart__group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-cart__icon {
  width: 27px;
}
.header-cart__quantity {
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .header-cart__quantity {
    display: none;
  }
}

.header-bottom {
  background: var(--primary-color);
}
.header-bottom__inner {
  padding: 16px 0;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 330px;
}
.header-menu__icon {
  width: 25px;
  filter: var(--filter-icon-bar);
}
.header-menu__text {
  font-weight: 500;
  color: var(--white);
}

.header-search {
  flex: 1;
}
.header-search__form {
  display: flex;
  justify-content: space-between;
  background: var(--white);
  padding: 0 20px;
  height: 52px;
  border-radius: 20px;
}
.header-search__input {
  padding-left: 10px;
  width: 100%;
  height: 100%;
}
.header-search__input::placeholder {
  color: var(--color-place);
  font-size: 1.6rem;
}
.header-search__submit {
  width: 25px;
  filter: var(--filter-submit-header);
  cursor: pointer;
}

.header-contact {
  display: flex;
  gap: 12px;
  width: 300px;
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .header-contact {
    display: none;
  }
}
.header-contact__phone {
  width: 30px;
  filter: var(--filter-phone-icon);
}
.header-contact__group {
  display: flex;
  flex-direction: column;
  color: var(--white);
  gap: 6px;
}
.header-contact__number {
  font-weight: 500;
}

.header__more {
  width: 30px;
  filter: var(--filter-submit-header);
}

.navbar-tablist {
  position: relative;
  padding: 12px;
}
.navbar-tablist__line {
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #c23564;
  transition: all 0.2s ease;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.footer {
  background: var(--bg-footer);
  margin-top: 40px;
}
.footer__inner {
  padding: 30px;
}
.footer__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 991.98px) {
  .footer__row {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .footer__row {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
}
.footer__col {
  width: 100%;
  height: 100%;
}
.footer__title {
  font-weight: 500;
  font-size: 1.7rem;
}
.footer__list {
  margin-top: 10px;
}
.footer__info {
  margin-top: 20px;
  line-height: 1.3;
}
.footer__info-link {
  display: inline-block;
}
.footer__link {
  display: inline-block;
  padding: 6px;
}
.footer__copyright {
  margin-top: 10px;
}
.footer__bottom {
  margin-top: 20px;
  text-align: center;
}

.footer-form {
  margin-top: 15px;
}
.footer-form__lable {
  margin-top: 12px;
}
.footer-form__input {
  width: 100%;
  height: 40px;
  background: #fff;
  padding-left: 12px;
  margin: 12px 0;
}
.footer-form__input::placeholder {
  color: #c2c3c7;
}
.footer-form__btn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer-form__btn:hover {
  background: var(--primary-color);
  color: var(--white);
}

.auth {
  margin-top: 30px;
  padding: 20px;
}
.auth__row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 767.98px) {
  .auth__row {
    flex-direction: column;
  }
}
.auth__row .form {
  width: 50%;
}
@media (max-width: 767.98px) {
  .auth__row .form {
    width: 100%;
  }
}

.auth-form {
  padding: 30px 18px;
  border: 2px solid #ebebeb;
}
.auth-form__left {
  width: 48%;
}
.auth-form__right {
  width: 52%;
}
.auth-form__title {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
.auth-form__subtitle {
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 126%;
}
.auth-form__group {
  margin-top: 20px;
}
.auth-form__lable {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 12px;
}
.auth-form__input {
  border: 1px solid #ccc;
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.auth-checked {
  margin-top: 20px;
}

.auth-action {
  margin-top: 20px;
  display: flex;
  gap: 25px;
}
@media (max-width: 991.98px) {
  .auth-action {
    flex-wrap: wrap;
    gap: 15px;
  }
}
.auth-action__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
