@use "../abstraction";
%flexCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top {
    padding: 10px 0;
    @extend %flexCenter;
    &__icon {
        width: 30px;
        margin-right: 10px;
        cursor: pointer;
    }
    &__text {
        font-size: 1.5rem;
        font-style: italic;
    }
}
.header-options {
    display: flex;
    align-items: center;
    gap: 24px;

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        position: relative;
        .flag {
            width: 20px;
            height: 20px;
            margin-right: 4px;
            object-fit: cover;
        }
        @include abstraction.screen(lg) {
            padding: 20px;
            border-bottom: 1px solid #d7d7d7;
        }
    }
    &__arrow {
        @include abstraction.screen(lg) {
            margin-left: auto;
        }
    }
    .more-currency {
        background: var(--white);
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        box-shadow: var(--boxshadow);

        position: absolute;
        top: 30px;
        display: none;
        @include abstraction.screen(lg) {
            top: 41px;
            left: 0;
        }
        &::before {
            content: "";
            display: inline-block;
            width: 100px;
            height: 30px;
            background: transparent;
            position: absolute;
            top: -27px;
            left: 0;
        }
    }
    &__item:hover .more-currency {
        display: block;
    }
    .more-country {
        display: flex;
        align-items: center;
        background: var(--white);
        width: 100px;
        height: 40px;
        line-height: 30px;
        text-align: center;
        box-shadow: var(--boxshadow);

        position: absolute;
        top: 25px;
        left: 0;
        padding: 8px;
        display: none;
        &::before {
            content: "";
            display: inline-block;
            width: 100px;
            height: 30px;
            background: transparent;
            position: absolute;
            top: -27px;
            left: 0;
        }
    }
    &__item:hover .more-country {
        display: inline-flex;
    }

    &__item:hover .header-authen {
        display: block;
    }
}
.header-authen {
    position: absolute;
    background: var(--white);
    box-shadow: var(--boxshadow);

    width: 100%;
    top: 30px;
    display: none;
    @include abstraction.screen(lg) {
        position: initial;
        box-shadow: none;
    }
    &::before {
        content: "";
        display: inline-block;
        width: 100px;
        height: 30px;
        background: transparent;
        position: absolute;
        top: -27px;
        left: 0;
    }
    &__item {
        padding: 8px 12px;
        display: inline-block;
        width: 100%;
    }
    &__link {
        display: inline-block;
        width: 100%;

        &:hover {
            color: var(--primary-color);
            font-weight: bold;
        }
        @include abstraction.screen(lg) {
            padding: 8px 0;
            font-size: 1.7rem;
            border-bottom: 1px solid #d6d6d6;
        }
    }
}
.speparate {
    border: 1px solid #e9e7e7;
}

.header-center {
    padding: 10px 0;
    @extend %flexCenter;
}
.navbar {
    &__header {
        background: var(--dark-color);
        height: 50px;
        padding: 14px;
        @extend %flexCenter;
    }
    &__title {
        color: var(--white);
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 500;
        display: inline-block;
    }
    &__close {
        width: 40px;
        filter: var(--filter-white);
        cursor: pointer;
    }
    @include abstraction.screen(lg) {
        position: fixed;
        background: var(--white);
        box-shadow: var(--boxshadow);

        z-index: 99;
        left: 0;
        bottom: 0;
        top: 0;
        right: 65%;
        overflow-y: auto;
        overflow-x: hidden;
        transform: translateX(-101%);
        transition: transform 0.5s;
        &.show {
            transform: translateX(0%);
        }
        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }
    @include abstraction.screen(md) {
        right: 38%;
    }

    &__overlay {
        @include abstraction.screen(lg) {
            position: fixed;
            z-index: 1;
            inset: 0;
            background-color: rgba($color: #000000, $alpha: 0.4);
            opacity: 0;
            visibility: hidden;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        @include abstraction.screen(lg) {
            flex-direction: column;
        }
    }
    &__item {
        position: relative;
        &:hover .submenu {
            display: block;
        }
        @include abstraction.screen(lg) {
            width: 100%;
            padding: 18px;
            border-bottom: 1px solid #8c8b8b;
        }
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 50px;
            top: 15px;
            background:transparent;
        @include abstraction.screen(lg) {
            content: none;
        }
        }
    }

    &__link {
        font-size: 1.5rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        &:hover {
            color: var(--primary-color);
            font-weight: 500;
        }
        &--active {
            color: var(--primary-color);
            filter: var(--filter-icon);

            font-weight: 500;
        }
    }
    &__arrow {
        @include abstraction.screen(lg) {
            margin-left: auto;
        }
    }
}
.cat-lable {
    &::before {
        font-size: 1rem;
        letter-spacing: 1px;
        color: var(--white);
        padding: 4px 12px;
        font-weight: 500;
        clip-path: polygon(5% 3%, 94% 9%, 95% 99%, 3% 118%);
        border-radius: 4px;
        left: 50%;
        top: -22px;
        transform: translateX(-50%);
        text-transform: uppercase;
        @include abstraction.screen(lg){
            top: -35px;
        }
        @include abstraction.screen(md){
            left: 60%;
        }
    }
    &--new::before {
        content: "new";
        background: #5eac12;
        position: absolute;
    }
    &--hot::before {
        background: var(--primary-color);
        content: "hot";
        position: absolute;
    }
}
.header-cart {
    display: flex;
    align-items: center;
    gap: 26px;
    @include abstraction.screen(md) {
        gap: 6px;
    }
    &__group {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__icon {
        width: 27px;
    }
    &__quantity {
        font-weight: 500;
        @include abstraction.screen(md) {
            display: none;
        }
    }
}
.header-bottom {
    background: var(--primary-color);

    &__inner {
        @extend %flexCenter;
        padding: 16px 0;
    }
}
.header-menu {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 330px;
    &__icon {
        width: 25px;
        filter: var(--filter-icon-bar);
    }
    &__text {
        font-weight: 500;
        color: var(--white);
    }
}
.header-search {
    flex: 1;
    &__form {
        display: flex;
        justify-content: space-between;
        background: var(--white);
        padding: 0 20px;
        height: 52px;
        border-radius: 20px;
    }
    &__input {
        padding-left: 10px;
        width: 100%;
        height: 100%;
        &::placeholder {
            color: var(--color-place);
            font-size: 1.6rem;
        }
    }
    &__submit {
        width: 25px;
        filter: var(--filter-submit-header);
        cursor: pointer;
    }
}
.header-contact {
    display: flex;
    gap: 12px;
    width: 300px;
    justify-content: flex-end;
    @include abstraction.screen(md) {
        display: none;
    }
    &__phone {
        width: 30px;
        filter: var(--filter-phone-icon);
    }
    &__group {
        display: flex;
        flex-direction: column;
        color: var(--white);
        gap: 6px;
    }
    &__number {
        font-weight: 500;
    }
}
.header__more {
    width: 30px;
    filter: var(--filter-submit-header);
}
.navbar-tablist {
    @extend %flexCenter;
    position: relative;
    padding: 12px;
    &__line {
        position: absolute;
        left: 0;
        bottom: 8px;
        width: 0;
        height: 6px;
        border-radius: 15px;
        background-color: #c23564;
        transition: all 0.2s ease;
    }
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}
