.countdown{
    display: flex;
    justify-content: space-between;
    .time-box{
        width: 40px;
        height: 40px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}