@use "../abstraction";
%flex {
    display: flex;
    align-items: center;
}
.sidebar {
    width: 27%;
    padding: 0 15px;
    @include abstraction.screen(lg) {
        display: none;
    }
}
.sidebar-menu {
    &__list {
        @include abstraction.screen(xl) {
            display: none;
        }
    }
    &__item {
        position: relative;
        @extend %flex;
        gap: 10px;
        margin-bottom: 12px;
        cursor: pointer;
        &:hover {
            color: var(--primary-color);
        }
        &::after {
            content: url(/assets/icon/arrow-right.svg);
            position: absolute;
            right: 0;
            filter: #ccc;
        }
        &:hover .sidebar-submenu {
            display: block;
        }
    }
    &__link {
        @extend %flex;
    }
    &__icon {
        width: 20px;
    }
}
.sidebar-product {
    &__content {
        border: 1px solid red;
        padding: 16px;
    }
}
.sidebar-serivce {
    margin-top: 20px;
    &__row {
        display: flex;
        gap: 10px;
    }
    &__item {
        border: 1px solid #d8d7d7;
        padding: 20px 0;
    }
    &__title {
        font-weight: 500;
    }
    &__subtitle {
        margin-top: 8px;
        font-size: 1.4rem;
    }
    &__icon {
        width: 25px;
        height: 25px;
    }
}
.sidebar-submenu {
    padding: 5px;
    position: absolute;
    z-index: 100;
    right: -242px;
    top: 0;
    background: var(--white);
    box-shadow: var(--boxshadow);
    display: none;
    color: var(--text-color);
    &__link {
        display: inline-block;
        width: 100%;
        padding: 8px 4px;
        font-size: 1.5rem;
        &:hover {
            color: var(--primary-color);
        }
    }
}
.sidebar-rate {
    margin-top: 20px;
    background-image: url("/assets/img/rate-sidebar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 25px 0 25px;
    padding: 30px 40px;
    height: 300px;
}
