<div class="footer__wrap">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__row">
                <div class="footer__col">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="./index.html">
                            <img src="./assets/img/logo.png" alt="" class="logo__img" />
                        </a>
                    </div>

                    <ul class="footer__info">
                        <li class="footer__info-item">
                            <a href="" class="footer__info-link">Address: 2168 S Archer Ave, Chicago, United Stated</a>
                            <a href="" class="footer__info-link">Phone: +(01) 312-808-1999</a>
                            <a href="" class="footer__info-link">Email: support@alothemes.com</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <p class="footer__title">Informations</p>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="" class="footer__link">My account</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Cart</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">My account</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Cart</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Cart</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <p class="footer__title">Informations</p>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="" class="footer__link">My account</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Cart</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">My account</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Cart</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Cart</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <p class="footer__title">Informations</p>
                    <form action="" class="footer-form">
                        <div class="footer-form__group">
                            <p class="footer__form-lable">Get E-mail updates about our latest shop and special offers.!</p>
                            <input type="text" class="footer-form__input" placeholder="Enter your email" />
                            <button type="submit" class="btn btn--normal footer-form__btn">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="social">
                    <img src="./assets/icon/facebook.png" alt="" class="social__icon" />
                    <img src="./assets/icon/instagram.png" alt="" class="social__icon" />
                    <img src="./assets/icon/youtube.png" alt="" class="social__icon" />
                    <img src="./assets/icon/twitter.png" alt="" class="social__icon" />
                </div>
                <p class="footer__copyright">Copyright © yyy by Ecotech Alothemes. All rights reserved</p>
            </div>
        </div>
    </div>
</div>
