<div class="container">
    <!-- Header-top -->
    <div class="header-top d-lg-none">
        <div class="header-top__social">
            <img src="./assets/icon/facebook.png" alt="" class="header-top__icon" />
            <img src="./assets/icon/instagram.png" alt="" class="header-top__icon" />
            <img src="./assets/icon/youtube.png" alt="" class="header-top__icon" />
            <img src="./assets/icon/twitter.png" alt="" class="header-top__icon" />
        </div>
        <p class="header-top__text">Freeshiping for all orders greater $50.0</p>
        <div class="header-options">
            <div class="header-options__item">
                <p class="currency-text">USD</p>
                <img src="./assets/icon/arrow-down.svg" alt="" class="arrow-down" />
                <div class="more-currency">EUR</div>
            </div>
            <div class="header-options__item">
                <img src="./assets/img/icons8-usa-30.png" alt="" class="flag" />
                <p class="countruy">USA</p>
                <img src="./assets/icon/arrow-down.svg" alt="" class="arrow-down" />
                <div class="more-country">
                    <img src="./assets/img/icons8-vietnam-48.png" alt="" class="flag" />
                    <p class="countruy">Vie</p>
                </div>
            </div>
            <div class="header-options__item">
                <p>My Account</p>
                <img src="./assets/icon/arrow-down.svg" alt="" class="arrow-down" />
                <div class="header-authen">
                    <ul class="header-authen__list">
                        <li class="header-authen__item">
                            <a class="header-authen__link" href="">Sign in</a>
                        </li>
                        <li class="header-authen__item">
                            <a class="header-authen__link" href="">Sign up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Seperate -->
    <div class="speparate"></div>
    <!-- Header-center -->
    <div class="header-center">
        <!-- More -->
        <img src="./assets/icon/bars.svg" alt="" class="header__more d-none d-lg-block js-toggle" toggle-target="#navbar" />
        <!-- Logo -->
        <div class="logo">
            <a href="./index.html">
                <img src="./assets/img/logo.png" alt="" class="logo__img" />
            </a>
        </div>
        <!-- Navbar -->
        <div id="navbar" class="navbar hide">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="" class="navbar__link navbar__link--active">home </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">
                        shop
                        <img src="./assets/icon/arrow-down.svg" alt="" class="arrow-down" />
                    </a>
                    <!-- Submenu 1 -->
                    <div class="submenu">
                        <div class="submenu__row">
                            <div class="submenu__col">
                                <h3 class="submenu__title">The Eugene Supreme</h3>
                                <ul class="submenu__list">
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="submenu__col">
                                <h3 class="submenu__title">The Eugene Supreme</h3>
                                <ul class="submenu__list">
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="submenu__col">
                                <h3 class="submenu__title">The Eugene Supreme</h3>
                                <ul class="submenu__list">
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="submenu__img">
                            <img src="./assets/img/imgsubmenu1.jpg" alt="" class="submenu__img-item d-lg-none" />
                            <img src="./assets/img/imgsubmenu1.jpg" alt="" class="submenu__img-item d-lg-none" />
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link"
                        >fast food
                        <img src="./assets/icon/arrow-down.svg" alt="" class="arrow-down" />
                    </a>
                    <!-- Submenu 2 -->
                    <div class="submenu">
                        <div class="submenu__row">
                            <div class="submenu__col">
                                <h3 class="submenu__title">Burger</h3>
                                <ul class="submenu__list">
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Grilled Chicken</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="submenu__col">
                                <h3 class="submenu__title">Sandwich</h3>
                                <ul class="submenu__list">
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="submenu__col">
                                <h3 class="submenu__title">The Eugene Supreme</h3>
                                <ul class="submenu__list">
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">Vegetable food</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="submenu__img">
                            <img src="../assets/img/img_menu_1_.jpg" alt="" class="submenu__img-item d-lg-none" />
                            <img src="./assets/img/imgsubmenu1.jpg" alt="" class="submenu__img-item d-lg-none" />
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">brand </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link"
                        >pages
                        <img src="./assets/icon/arrow-down.svg" alt="" class="arrow-down" />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">blog </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">contact us </a>
                </li>
            </ul>
        </div>
        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>
        <!-- Header cart -->
        <div class="header-cart">
            <div class="header-cart__group">
                <img src="./assets/icon/heart.png" alt="" class="header-cart__icon" />
            </div>
            <div class="header-cart__group">
                <img src="./assets/icon/cart.png" alt="" class="header-cart__icon" />
                <p>Cart:0</p>
            </div>
        </div>
    </div>
</div>
<!-- Header-bottom -->
<div class="header-bottom">
    <div class="container">
        <div class="header-bottom__inner">
            <!-- Header-menu -->
            <div class="header-menu d-lg-none">
                <img src="./assets/icon/bars.svg" alt="" class="header-menu__icon" />
                <h3 class="header-menu__text">All departments</h3>
            </div>
            <!-- Header-search -->
            <div class="header-search">
                <form action="">
                    <div class="header-search__form">
                        <input type="text" placeholder="What do you want to eat today?" class="header-search__input" />

                        <button type="submit">
                            <img src="./assets/icon/iconsearch.svg" alt="" class="header-search__submit" />
                        </button>
                    </div>
                </form>
            </div>
            <!-- header-contact -->
            <div class="header-contact">
                <img src="./assets/icon/phone.svg" alt="" class="header-contact__phone" />
                <div class="header-contact__group">
                    <h4 class="header-contact__number">+44 161 833 9883</h4>
                    <p class="header-contact__time">Mon - Sat: 8:00 - 21:00</p>
                </div>
            </div>
        </div>
    </div>
</div>
